<div>
    <h2>ID: {{id}}</h2>
</div>
<div class="card" style="width: 1200px;" id="cart">
    <ul class="list-group list-group-flush">
        {{#each products}}
        <li class="list-group-item p-0">
            <div style="display: flex;">
                <div style="width: 10px; background-color: #ffd700">
                </div>
                <div style="display: flex;">
                    <img src={{product.thumbnail}} alt="img - {{product.thumbnail}}" width="150px">
                    <div style="display: flex; justify-content: space-between">
                        <div style="display: flex; flex-direction: column">
                            <h5 class="m-0">{{product.category}} - {{product.title}}</h5>
                            <h6 class="m-0">Price: {{product.price}}U$D</h6>
                            <h6 class="m-0">Quantity: {{quantity}}</h6>
                        </div>
                        <div class="delete" style="position: absolute; right: 0px;">
                            <button id={{product.id}} class="btn delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>